/* All */

* {
  box-sizing: border-box;
}

/* Body */

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/tasks.jpg");
  background-size: 100% 100%;
}

main h1,
#time {
  color: #fff;
  z-index: 2;
}

main h1 {
  margin-bottom: 0;
}

#time {
  margin-bottom: 40px;
}

/* Tasks */

.tasks-cont {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.3);
  background-color: #fff;
  z-index: 2;
  margin-bottom: 100px;
}

.tasks-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ebebeb;
  padding: 0 15px;
}

.title {
  font-weight: 600;
}

.tasks-cont button {
  background: none;
  border: none;
  cursor: pointer;
}

#refresh {
  -moz-transition: all 0.8s linear;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}

#refresh.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

input[type="text"] {
  font-family: "Raleway", sans-serif;
  padding: 15px 5px;
  border: none;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
}

.input-container {
  position: relative;
  width: 100%;
}

input:placeholder-shown + .placeholder::after {
  content: "Add a task";
  color: #757575;
}

input:placeholder-shown:focus + .placeholder::after {
  content: "Try typing 'Pay utilities notes by Friday 6pm'";
}

.placeholder {
  position: absolute;
  top: 15px;
  left: 5px;
  font-size: 14px;
}

#tasks-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tasks-cont li,
.task-item {
  transition: 0.3s;
}

.remove {
  display: none;
}

/* .tasks-cont li:focus-within {
  background-color: #fffeca;
}

.tasks-cont li:focus-within .remove {
  display: block;
}

.tasks-cont li:focus-within .move {
  display: none;
}

.task-item:focus {
  background-color: #fffeca;
} */

.check {
  display: flex;
  width: 100%;
  align-items: center;
}

.checkbox-cont {
  position: relative;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  margin-left: 5px;
}

.checkbox-cont input {
  opacity: 0;
}

.checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #c1c1c3;
}

.checkbox-custom:hover {
  border-color: #a1a1a3;
}

.checkbox-cont input:checked ~ .checkbox-custom {
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #fff;
}

.checkbox-custom::after {
  position: absolute;
  content: "";
  left: 8px;
  top: 5px;
  height: 0;
  width: 0;
  border: solid #009bff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-cont input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 3px;
  top: 0;
  width: 6px;
  height: 12px;
  border: solid #009bff;
  border-width: 0 2px 2px 0;
}

/* For Ripple Effect */
.checkbox-cont .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0;
  height: 0;
  border-radius: 5px;
  border: 2px solid #000;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.checkbox-cont input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-cont input:checked ~ input {
  text-decoration: line-through;
}

.clear {
  background-color: #f6f6f6;
  height: 50px;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.clear button {
  color: #7d7d7d;
}

.clear button:hover {
  text-decoration: underline;
  color: #000;
}

/* Footer */

footer {
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
}
